<body class="d-flex sticky-top text-center text-white bg-dark">
  <div class="cover-container d-flex w-80 h-20 p-1 mx-auto flex-column">
    <header class="mb-auto">
      <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </header>
  </div>
</body>
