<% layout('layouts/boilerplate')%>
<body class="d-flex sticky-top text-center text-white bg-dark">
  <div class="cover-container d-flex w-80 h-20 p-1 mx-auto flex-column">
    <header class="mb-auto">
      <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/posts">Posts</a>
          <a class="nav-link" href="/postits">PostItDrawings</a>
          <a class="nav-link" href="/portfolio">Portfolio</a>
          <% if(!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link active" href="/register">Register</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </nav>
      </div>
    </header>
  </div>
</body>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="../images/elavibeLogoSMOrangeBlack.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
